<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>3D Column Chart</title>
      <link rel="stylesheet" href="../../static/donorPage/css/style.css">  
</head>

<body>

  <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/dark.js"></script>

<body>
  <br>  
  <br>
 <center><h1>DONATIONS COLLECTED BY ORGANISATIONS IN EACH CITY</h1></div>
  <br>
  <center></center>
  <div><button style="align-content: center; background-color: white; border-radius: 30% height: 200px; width: 200px;">Contribute</button></center></div>
  <div style="vertical-align: middle;" id="chartdiv"></div>

</body>
  <script src='https://code.jquery.com/jquery-1.11.2.min.js'></script>
    <script  src="../../static/donorPage/js/index.js"></script>
</body>

</html>