<form method="get">
  {{ refugee_filtered.form.as_p }}
  <button type="submit">Search</button>
</form>

  {% if refugee_filtered.qs %}
      {% for refugee in refugee_filtered.qs %}
          <div class="container">
              <ul>
                  <li>Id : {{ refugee.ID }}</li>
                  <li>First Name : {{ refugee.firstName }}</li>
                  <li>Last Name : {{ refugee.lastName }}</li>
                  <li>Date Of Birth : {{ refugee.dob }}</li>
                  <li>Nationality : {{ refugee.nationality }}</li>
                  <li>Marital Status: {{ refugee.maritalStatus }}</li>
                  <!-- <a href="{% url 'refugee_listing:details' refugee.id %}">
                      <button>View ID</button>
                  </a> -->
              </ul>
          </div>
      {% endfor %}
  {% else %}
      <div>
          No Entries
      </div>
  {% endif %}